
data/Свод.xlsx
data/ГДИ.xlsx
data/ГТМ_ГФИ.xlsx
notebooks/.ipynb_checkpoints/DCA_banch-checkpoint.ipynb
notebooks/.ipynb_checkpoints/drilling_analitic-checkpoint.ipynb
data/onewell.pickle
notebooks/.ipynb_checkpoints
__pycache__
oilyreports.egg-info
oilyreport.egg-info
for_test

oily_report.egg-info
workflow/workflow.rar